:root {
  --player1: rgb(29, 29, 216);
  --player2: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('https://cdn.pixabay.com/photo/2015/12/27/05/48/turntable-1109588_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
} 

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__each {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.itsturn::after {
  content: '⬅';
  color: rgb(38, 41, 243);
}

.player1 {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 0.7px solid var(--player1);
  -webkit-animation: caindo 0.3s both;
  animation: caindo 0.3s both;
}

.player2 {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  -webkit-animation: caindo 0.3s both;
  animation: caindo 0.3s both;
  border: 0.7px solid var(--player2);
}

#Tabuleiro {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90vw;
  height: max-content;
  gap: 10px;
  background-color: #2883eba1;
  padding: 1rem;
  position: relative;
  background-image: url('https://images-ext-2.discordapp.net/external/7whmabCT2gKu3cXilsRYl4VNByNMx6goZCZJX53Hcg8/https/acegif.com/wp-content/gif/outerspace-89.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.col {
  display:flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 14%;
  gap: 12px;
}

.celula {
  border: 0.5px solid black;
  width: 110%;
  height: 10vw;
  cursor: pointer;
  background-color: rgb(250, 248, 248);
  border-radius: 100%;
}

h1 {
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-size: 45px;
    background-color:#5558e6;
    width: 16rem;
    color: #fff;
    margin: 5px auto;
    font-family: 'Recursive', sans-serif;
    border-radius: 6px;
}

.btn-reset {
    margin: 1rem auto;
    text-align: center;
}

#btnReset {
  border: none;
  padding: 1rem;
  width: 9rem;
  color: seashell;
  background-color: #0095F6;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 0.4rem;
}

#btn-again {
    cursor: pointer;
    display: flex;
    gap: 10px;
    min-width: max-content;
    border: 1px solid var(--bkg1);
    padding: 1.2rem;
    width: 9rem;
    background-color: rgb(0, 149, 246);
    color: seashell;
    border-radius: 5px;
    font-size: 1.1rem;
}

#btnReset:hover, #btn-again:hover {
  background-color: #5a63e2;
}

#popUp { 
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0%;
  text-align: center;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  line-height: 4rem;
  font-weight: bold;
  font-size: 1.5rem;
}

#popUp img {
  width: 75%;
  height: 73%;
}

.hidden {
  display: none;
}

.info-container {
  max-width: 400px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.info {
  margin: 0 10px;
}

.name-input-container {
  position: absolute;
  top: -15rem;
  left: 50%;
  transform: translateX(-50%);
  width: 18rem;
  height: 6rem;
  background-color: #4639f5;
  color: white;
  padding: 22px 10px;
  border-radius: 5px;
  z-index: 2;
}

#player-name-bt {
  padding: 10px 4px;
  margin: 0 5px;
  background-color: #0095F6;
  border: none;
  border-radius: 5px;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
}

#player-name-bt:hover, .change-name-confirm:hover{
  cursor: pointer;
}

.name-input {
  margin-right: 5px;
  width: 160px;
  height: 30px;
  font-size: 20px;
  padding: 3px;
  text-align: center;
}

.change-name-confirm {
  padding: 5px;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  height: 30px;
  font-size: 16px;
}

.input-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.input-title {
  text-align: center;
  margin-bottom: 15px;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.placar {
  display: flex;
  flex-direction: column;
  margin-top: 0.55rem;
}

h2 {
  color: seashell;
  margin-left: 2rem;
  text-align: center;
}

#playerUm, #playerDois {
  background-color: #5558e6;
  padding: 0.5rem;
  margin: 0.4rem auto;
  font-size: 1rem;
  color: seashell;
  border-radius: 5px;
  width: 18rem;
}

.btn-flex {
  display: flex;
}

#player1-label, #player2-label {
  background-color: #2629f3;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
}


/* ======  Animação  ========= */

@-webkit-keyframes caindo {
0% {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
}
@keyframes caindo {
0% {
  -webkit-transform: translateY(-1000px);
  transform: translateY(-1000px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 2;
}
}


/* ======= Media Queries ======= */
@media only screen and (min-width: 700px) {

  #Tabuleiro, #popUp {
    max-width: 650px;
    max-height: 600px;
  }

  .player1, .player2 {
    border-width: 4px;
  }

  .celula {
    max-height: 70px;
  }

  .col {
    max-height: 30rem;
  }

  #playerUm, #playerDois {
    width: 41rem;
  }

  .info-container {
    display: flex;
    flex-direction: row;
  }

  .btn-flex {
    padding-top: -15rem; 
  } 
}